/*******************************************************/
/* =PF_GENERIC: start of project fondue generic styles */
/*******************************************************/

#header {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    zoom: 1;
}
#header h1 {
    position: absolute;
    bottom: 10px;
    left: 84px;
    margin: 0;
    font-size: 250%;
    color: #333;
}
#logo img {
    border: 1px solid #ccc;
    border-color: #ccc #ebebeb;
}
#favmain {
    overflow: hidden;
    width: 962px;
    margin: 20px auto 0 auto;
    text-align: left;
}
#favcontent {
/*    border: 1px solid #ccc;
    width: 920px;
    padding: 20px;
    margin: 0 auto 20px auto;
    text-align: left;
    font-size: 110%;
    overflow: hidden;
*/
}
#favcontent p a, #favcontent label a {
    color: #000099;
}
#favcontent h2 {
    margin-bottom: 10px;
    font-size: 150%;
    color: #006;
}
#header h1, #favcontent h2 {
    font-family: Georgia, Times New Roman, serif;
}
#footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: right;
}
#footer h2 {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
#footer li {
    float: left;
    margin-right: 20px;
}
#footer p {
    margin: 0 0 20px 0;
}

/*******************************************************/
/* PF_TOOL: start of tool specific styles              */
/*******************************************************/

#about {
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
}
#editor {
    display: none;
}
#favcontent form {
    padding-top: 10px;
}
#favcontent form div {
    margin-bottom: 10px;
}
#publish-area {
    margin: 10px 0 0 0;
    color: #555;
}
#ico-editor-form {
    clear: left;
    text-align: right;
}
#ico-editor-form #publish-area {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}
#favicon {
    border: 1px solid #777;
    padding: 3px;
    margin-right: 5px;
    vertical-align: middle;
}
#favcontent .error {
    background: #f60;
    padding: 5px;
    font-weight: bold;
    color: #fff;
}
#favcontent .info {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#gallery {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#gallery li {
    float: left;
    margin: 5px 5px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
#gallery img {
    border: 1px solid #777;
    padding: 5px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.statistics {
    width: 500px;
    margin: 20px 0;
}

.moderation {
    text-align: center;
}
.moderation input {
    display: block;
    margin: 0 auto;
}

.button-bar {
    padding: 10px;
    text-align: right;
}

/* =NAV: tool tabs */

#favnav {
width: 920px;
margin: 10px auto 0px auto;
    overflow: hidden;
}
#favnav li{
    float: left;
    border: 1px solid #ccc;
    margin-left: 10px;
    background: #ccc;
}
#favnav li.selected{
    border-bottom-color: #fff;
    background: #fff;
}
#favnav li a{
    display: block;
    padding: 5px 20px;
    color: #333;
}
#favnav li a:hover,
#favnav li a:focus{
    display: block;
    background: #333;
    color: #fff;
    text-decoration: none;
}

/* paging */
.paging {
    margin: 0 12px 10px 0;
    text-align: right;
}
.paging ol, .paging li {
    display: inline;
}
.paging li {
    border: 1px solid #ccc;
    padding: 3px;
}
.paging .selected {
    background: #ccc;
}

/* =PYG: pygments Tango - code formatting and syntax highlighting */

.highlight{
    padding: 10px;
    border: 2px solid #e2cdba;
    margin: 10px 0;
}
.highlight pre{
    font-family: Monaco, Andale Mono, monospace;
    line-height: 1.5em;
    font-size: 85%;
}

.highlight .hll{background-color:#FFFFCC;}
.highlight{background:#F8F8F8 none repeat scroll 0 0;}
.highlight .c{color:#8F5902;font-style:italic;}
.highlight .err{border:1px solid #EF2929;color:#A40000;}
.highlight .g{color:#000000;}
.highlight .k{color:#204A87;font-weight:bold;}
.highlight .l{color:#000000;}
.highlight .n{color:#000000;}
.highlight .o{color:#CE5C00;font-weight:bold;}
.highlight .x{color:#000000;}
.highlight .p{color:#000000;font-weight:bold;}
.highlight .cm{color:#8F5902;font-style:italic;}
.highlight .cp{color:#8F5902;font-style:italic;}
.highlight .c1{color:#8F5902;font-style:italic;}
.highlight .cs{color:#8F5902;font-style:italic;}
.highlight .gd{color:#A40000;}
.highlight .ge{color:#000000;font-style:italic;}
.highlight .gr{color:#EF2929;}
.highlight .gh{color:#000080;font-weight:bold;}
.highlight .gi{color:#00A000;}
.highlight .go{color:#000000;font-style:italic;}
.highlight .gp{color:#8F5902;}
.highlight .gs{color:#000000;font-weight:bold;}
.highlight .gu{color:#800080;font-weight:bold;}
.highlight .gt{color:#A40000;font-weight:bold;}
.highlight .kc{color:#204A87;font-weight:bold;}
.highlight .kd{color:#204A87;font-weight:bold;}
.highlight .kn{color:#204A87;font-weight:bold;}
.highlight .kp{color:#204A87;font-weight:bold;}
.highlight .kr{color:#204A87;font-weight:bold;}
.highlight .kt{color:#204A87;font-weight:bold;}
.highlight .ld{color:#000000;}
.highlight .m{color:#0000CF;font-weight:bold;}
.highlight .s{color:#4E9A06;}
.highlight .na{color:#C4A000;}
.highlight .nb{color:#204A87;}
.highlight .nc{color:#000000;}
.highlight .no{color:#000000;}
.highlight .nd{color:#5C35CC;font-weight:bold;}
.highlight .ni{color:#CE5C00;}
.highlight .ne{color:#CC0000;font-weight:bold;}
.highlight .nf{color:#000000;}
.highlight .nl{color:#F57900;}
.highlight .nn{color:#000000;}
.highlight .nx{color:#000000;}
.highlight .py{color:#000000;}
.highlight .nt{color:#204A87;font-weight:bold;}
.highlight .nv{color:#000000;}
.highlight .ow{color:#204A87;font-weight:bold;}
.highlight .w{color:#F8F8F8;text-decoration:underline;}
.highlight .mf{color:#0000CF;font-weight:bold;}
.highlight .mh{color:#0000CF;font-weight:bold;}
.highlight .mi{color:#0000CF;font-weight:bold;}
.highlight .mo{color:#0000CF;font-weight:bold;}
.highlight .sb{color:#4E9A06;}
.highlight .sc{color:#4E9A06;}
.highlight .sd{color:#8F5902;font-style:italic;}
.highlight .s2{color:#4E9A06;}
.highlight .se{color:#4E9A06;}
.highlight .sh{color:#4E9A06;}
.highlight .si{color:#4E9A06;}
.highlight .sx{color:#4E9A06;}
.highlight .sr{color:#4E9A06;}
.highlight .s1{color:#4E9A06;}
.highlight .ss{color:#4E9A06;}
.highlight .bp{color:#3465A4;}
.highlight .vc{color:#000000;}
.highlight .vg{color:#000000;}
.highlight .vi{color:#000000;}
.highlight .il{color:#0000CF;font-weight:bold;}

/* =ICO_EDITOR: ico editor specific */

#pixel_grid {
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    background: #fff url(../images/grid_bck.png) repeat;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
#pixel_grid li, #pixel_grid li a{;
    width: 32px;
    height: 32px;
    float: left;
    display: block;
}
#pixel_grid li a:hover{
    background-image: url(../images/icon_sprite.png);
    background-position: 0 -30px;
}
#yui-picker-panel{
    float: left;
    background: #ccc;
    position: relative;
    margin: -3px 10px 0 10px;
}

#preview_cont{
    position: relative;
    top: 200px;
    left: 12px;
    border: 1px solid #666;
    overflow: hidden;
    padding: 5px;
    width: 173px;
    background: #fff;
}
#preview{
    height: 16px;
    width: 16px;
    float: left;
    border: 1px solid #999;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
#preview li{
    width: 1px;
    height: 1px;
    float: left;
    display: block;
    border: none !important;
}
#preview_label{
    font-family: helvetica;
    float: left;
    padding-left: 5px;
}

#tools {
    overflow: hidden;
    position: relative;
    top: 240px;
    left: 12px;
    font-family: helvetica;
}
#tools a{
    color: #333;
    text-decoration: none;
    background: url(../images/icon_sprite.png) no-repeat top left;
    margin-top: 3px;
    padding: 3px 3px 3px 25px;
    display: block;
    line-height: 1.5em;
    width: 155px;
    border: 1px solid #999;
}

#tools a:hover{
    background-color: #e0e0e0;
    border: 1px solid #666;
}
#tools a.selected {
    background-color: #999;
    border: 1px solid #333;
    color: #fff;
}

#tools #save {
    background-position: 3px -87px;
}
#tools #brush {
    background-position: 3px 100%;
}
#tools #reset {
    background-position: 3px -133px;
}
#tools #dropper {
    background-position: 3px -179px;
}
#tools #eraser {
    background-position: 3px -349px;
}
#pixel_grid.marquee_eraser li a:hover {
    background-position: 0 -230px;
}
#pixel_grid.marquee_dropper li a:hover {
    background-position: 0 -292px;
}

.disp_none{
    display: none;
}

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-h-slider,.yui-v-slider{position:relative;}.yui-h-slider .yui-slider-thumb,.yui-v-slider .yui-slider-thumb{position:absolute;cursor:default;}.yui-skin-sam .yui-h-slider{background:url(https://cdnjs.cloudflare.com/ajax/libs/yui/2.7.0/slider/assets/bg-h.gif) no-repeat 5px 0;height:28px;width:228px;}.yui-skin-sam .yui-h-slider .yui-slider-thumb{top:4px;}.yui-skin-sam .yui-v-slider{background:url(https://cdnjs.cloudflare.com/ajax/libs/yui/2.7.0/slider/assets/bg-v.gif) no-repeat 12px 0;height:228px;width:48px;}
/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-picker-panel{background:#e3e3e3;border-color:#888;}.yui-picker-panel .hd{background-color:#ccc;font-size:100%;line-height:100%;border:1px solid #e3e3e3;font-weight:bold;overflow:hidden;padding:6px;color:#000;}.yui-picker-panel .bd{background:#e8e8e8;margin:1px;height:200px;}.yui-picker-panel .ft{background:#e8e8e8;margin:1px;padding:1px;}.yui-picker{position:relative;}.yui-picker-hue-thumb{cursor:default;width:18px;height:18px;top:-8px;left:-2px;z-index:9;position:absolute;}.yui-picker-hue-bg{-moz-outline:none;outline:0px none;position:absolute;left:200px;height:183px;width:14px;background:url(https://cdnjs.cloudflare.com/ajax/libs/yui/2.7.0/assets/skins/sam/hue_bg.png) no-repeat;top:4px;}.yui-picker-bg{-moz-outline:none;outline:0px none;position:absolute;top:4px;left:4px;height:182px;width:182px;background-color:#F00;background-image:url(https://cdnjs.cloudflare.com/ajax/libs/yui/2.7.0/assets/skins/sam/picker_mask.png);}*html .yui-picker-bg{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../build/colorpicker/assets/picker_mask.png',sizingMethod='scale');}.yui-picker-mask{position:absolute;z-index:1;top:0px;left:0px;}.yui-picker-thumb{cursor:default;width:11px;height:11px;z-index:9;position:absolute;top:-4px;left:-4px;}.yui-picker-swatch{position:absolute;left:240px;top:4px;height:60px;width:55px;border:1px solid #888;}.yui-picker-websafe-swatch{position:absolute;left:304px;top:4px;height:24px;width:24px;border:1px solid #888;}.yui-picker-controls{position:absolute;top:72px;left:226px;font:1em monospace;}.yui-picker-controls .hd{background:transparent;border-width:0px !important;}.yui-picker-controls .bd{height:100px;border-width:0px !important;}.yui-picker-controls ul{float:left;padding:0 2px 0 0;margin:0}.yui-picker-controls li{padding:2px;list-style:none;margin:0}.yui-picker-controls input{font-size:0.85em;width:2.4em;}.yui-picker-hex-controls{clear:both;padding:2px;}.yui-picker-hex-controls input{width:4.6em;}.yui-picker-controls a{font:1em arial,helvetica,clean,sans-serif;display:block;*display:inline-block;padding:0;color:#000;}

#yui-picker-controls .hd{
    display: none;
}

#yui-picker-hex-controls{
    width: 7em;
    margin-left: 12px;
    font-size: 170%;
}

*html .yui-picker-bg { 
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/picker_mask.png', sizingMethod='scale'); 
}

.google-ads {
   margin-top: 10px;
}

#generator, #ads {
    float: left;
}
#generator {
    padding-right: 10px;
}
#ads {
    width: 150px;
    padding-left: 10px;
}
#ads li {
    list-style: disc;
    margin-left: 20px;
}

/* =LOGIN: administration */

#login-user {
    position: absolute;
    top: 0;
    right: 0;
}
th {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-align: left;
}
th, td {
    width: 8em;
    padding: 5px;
}
